In [1]:
import pandas as pd
import json

data = json.load(open('C:/Users/kkher/Desktop/Pandas/covid.json'))

# df = pd.DataFrame(data["locations"])
# df
# json_struct = json.loads(df.to_json(orient="records"))    
# flattenedJson= pd.json_normalize(json_struct)
# flattenedJson

# df

#df = pd.json_normalize(data)
#df1=df.loc[:,'latest.confirmed']
#print(df1)

# pd.json_normalize(d1f["locations"])

In [2]:
import requests
url = 'https://coronavirus-tracker-api.herokuapp.com/v2/locations'
response = requests.get(url)

In [3]:
print(response)

<Response [200]>

In [4]:
jsonText = response.text

In [5]:
data = json.loads(jsonText)

In [17]:
df = pd.DataFrame(data["locations"])
df
json_struct = json.loads(df.to_json(orient="records"))    
flattenedJson= pd.json_normalize(json_struct)
flattenedJson

,id,country,country_code,country_population,province,last_updated,coordinates.latitude,coordinates.longitude,latest.confirmed,latest.deaths,latest.recovered
0,0,Afghanistan,AF,29121286.0,,2020-04-12T13:03:17.356034Z,33.0,65.0,555,18,0
1,1,Albania,AL,2986952.0,,2020-04-12T13:03:17.362225Z,41.1533,20.1683,433,23,0
2,2,Algeria,DZ,34586184.0,,2020-04-12T13:03:17.370514Z,28.0339,1.6596,1825,275,0
3,3,Andorra,AD,84000.0,,2020-04-12T13:03:17.376617Z,42.5063,1.5218,601,26,0
4,4,Angola,AO,13068161.0,,2020-04-12T13:03:17.382732Z,-11.2027,17.8739,19,2,0
...,...,...,...,...,...,...,...,...,...,...,...
259,259,France,FR,64768389.0,Saint Pierre and Miquelon,2020-04-12T13:03:18.488854Z,46.8852,-56.3159,1,0,0
260,260,South Sudan,SS,8260490.0,,2020-04-12T13:03:18.496013Z,6.8770000000000024,31.307,4,0,0
261,261,Western Sahara,EH,273008.0,,2020-04-12T13:03:18.503113Z,24.2155,-12.8858,4,0,0
262,262,Sao Tome and Principe,ST,197700.0,,2020-04-12T13:03:18.510228Z,0.18636,6.613081,4,0,0
263,263,Yemen,YE,23495361.0,,2020-04-12T13:03:18.517397Z,15.552726999999999,48.516388,1,0,0

In [ ]:
df2 = df.groupby("country")

In [ ]:
df.country.value_counts()

In [ ]:
df["latest"].value_counts()

In [ ]:
for col in df.columns:
    print(col)

In [ ]:
flattenedJson["latest.confirmed"]

In [ ]:
df ["latest"] =="latest.confirmed"

In [ ]:
df2 = df.groupby(["country", "latest"])

In [ ]:
type(df2)

In [ ]:
df.loc[20]

In [ ]:
df.columns = ["id", "country", "country_code", "country_population", "province", "last_updated", "coordinates", "latest"]

In [ ]:
df.head(100)

In [ ]:
type(flattenedJson)

In [ ]:
flattenedJson.head()

In [ ]:
flattenedJson.groupby(['country','latest.confirmed', 'latest.deaths', 'latest.recovered']).sum()