In [ ]:
import pandas as pd
import pyodbc

In [25]:
for driver in pyodbc.drivers():
    print(driver)

SQL Server
SQL Server Native Client 11.0
SQL Server Native Client RDA 11.0
ODBC Driver 17 for SQL Server

In [13]:
server = 'DESKTOP-97DE1M2\KASHISHSQL'
database ='Sample'

sql_conn = pyodbc.connect('DRIVER={SQL Server};SERVER=DESKTOP-97DE1M2\KASHISHSQL;DATABASE=Sample;Trusted_Connection=yes')

query = 'Select * from People'

df = pd.read_sql(query, sql_conn)

df.head(10)

   Id  Name     Sex           Email
0   1   Tom    Male   tom@gmail.com
1   2   Joy    Male   joy@gmail.com
2   3  Maya  Female  maya@gmail.com
3   4  Tiya  Female  tiya@gmail.com
4   5   Bob    Male   bob@gmail.com
5   6   Bin    Male   bin@gmail.com
6   7  Nick    Male  nick@gmail.com
7   8  Lisa  Female  lisa@gmail.com
8   9  Tina  Female  tina@gmail.com
9  10  Zoya  Female  zoya@gmail.com