## Create a Series Object from a Python List:

In [1]:
import pandas as pd

In [2]:
ice_cream = ["Chocolate", "Vanilla", "Strawberry", "Rum Raisin"]
pd.Series(ice_cream)

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

In [3]:
lottery = [4, 8, 15, 16, 23, 42]
pd.Series(lottery)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [4]:
registrations = [True, False, False, False, True]
pd.Series(registrations)

0     True
1    False
2    False
3    False
4     True
dtype: bool

## Create a Series Object from a Python Dictionary:

In [5]:
webster = {"Tiger" : "An animal",
          "Strawberry" : "A delicious fruit",
          "Black" : "A colour"}
pd.Series(webster)

Tiger                 An animal
Strawberry    A delicious fruit
Black                  A colour
dtype: object

## Intro to Attributes:

In [6]:
about_me = ["Smart", "Handsome", "Charming", "Brilliant", "Humble"]
s = pd.Series(about_me)
s

0        Smart
1     Handsome
2     Charming
3    Brilliant
4       Humble
dtype: object

In [7]:
s.values

array(['Smart', 'Handsome', 'Charming', 'Brilliant', 'Humble'],
      dtype=object)

In [8]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [9]:
s.dtype

dtype('O')

## Intro to Methods:

In [10]:
prices = [2.99, 4.45, 1.36]
s = pd.Series(prices)
s

0    2.99
1    4.45
2    1.36
dtype: float64

In [11]:
s.sum()

8.8

In [12]:
s.product()

18.095480000000006

In [13]:
s.mean()

2.9333333333333336

## Parameters and Arguements:

In [14]:
fruits = ["Apple", "Orange", "Grapes", "Blueberry", "Plum"]
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]
pd.Series(fruits, weekdays)
pd.Series(data = fruits, index = weekdays)
pd.Series(fruits, index = weekdays)

Monday           Apple
Tuesday         Orange
Wednesday       Grapes
Thursday     Blueberry
Friday            Plum
dtype: object

In [15]:
fruits = ["Apple", "Orange", "Grapes", "Blueberry", "Plum", "Watermelon"]
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Monday"]
pd.Series(data = fruits, index = weekdays)

Monday            Apple
Tuesday          Orange
Wednesday        Grapes
Thursday      Blueberry
Friday             Plum
Monday       Watermelon
dtype: object

## Import Series with the Read_Csv Method:

In [16]:
pd.read_csv("C:/Users/kkher/Desktop/SalesRecords.csv", usecols = ["Region"], squeeze = True)

0                       Sub-Saharan Africa
1                                   Europe
2                                   Europe
3                                   Europe
4                                   Europe
                       ...
49995    Central America and the Caribbean
49996    Central America and the Caribbean
49997                                 Asia
49998                   Sub-Saharan Africa
49999                   Sub-Saharan Africa
Name: Region, Length: 50000, dtype: object

In [17]:
SalesRecords = pd.read_csv("C:/Users/kkher/Desktop/SalesRecords.csv", squeeze = True)
SalesRecords

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Sub-Saharan Africa,Namibia,Household,Offline,M,8/31/2015,897751939,10/12/2015,3604,668.27,502.54,2408445.08,1811154.16,597290.92
1,Europe,Iceland,Baby Food,Online,H,11/20/2010,599480426,1/9/2011,8435,255.28,159.42,2153286.80,1344707.70,808579.10
2,Europe,Russia,Meat,Online,L,6/22/2017,538911855,6/25/2017,4848,421.89,364.69,2045322.72,1768017.12,277305.60
3,Europe,Moldova,Meat,Online,L,2/28/2012,459845054,3/20/2012,7225,421.89,364.69,3048155.25,2634885.25,413270.00
4,Europe,Malta,Cereal,Online,M,8/12/2010,626391351,9/13/2010,1975,205.70,117.11,406257.50,231292.25,174965.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,Central America and the Caribbean,Dominican Republic,Baby Food,Offline,C,2/12/2015,350891578,3/15/2015,5470,255.28,159.42,1396381.60,872027.40,524354.20
49996,Central America and the Caribbean,Cuba,Office Supplies,Online,M,3/28/2013,748260629,5/3/2013,5803,651.21,524.96,3778971.63,3046342.88,732628.75
49997,Asia,Vietnam,Personal Care,Offline,L,11/11/2016,322932231,12/18/2016,1678,81.73,56.67,137142.94,95092.26,42050.68
49998,Sub-Saharan Africa,Sierra Leone,Clothes,Online,M,8/28/2010,492142713,9/21/2010,4820,109.28,35.84,526729.60,172748.80,353980.80
49999,Sub-Saharan Africa,Eritrea,Vegetables,Offline,L,6/5/2014,943440902,6/30/2014,3983,154.06,90.93,613620.98,362174.19,251446.79

## The Head and Tail Methods:

In [18]:
SalesRecords.head(1)

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Sub-Saharan Africa,Namibia,Household,Offline,M,8/31/2015,897751939,10/12/2015,3604,668.27,502.54,2408445.08,1811154.16,597290.92

In [19]:
SalesRecords.tail(1)

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
49999,Sub-Saharan Africa,Eritrea,Vegetables,Offline,L,6/5/2014,943440902,6/30/2014,3983,154.06,90.93,613620.98,362174.19,251446.79

## Python Built-In Functions:

In [20]:
len(SalesRecords)

50000

In [21]:
type(SalesRecords)

pandas.core.frame.DataFrame

In [22]:
dir(SalesRecords)

['Country',
 'Region',
 'T',
 '_AXIS_ALIASES',
 '_AXIS_IALIASES',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_summary_and_see_also_doc',
 '_aggregate',
 '_aggregate_multiple_funcs',
 '_align_frame',
 '_align_series',
 '_box_col_values',
 '_box_item_values',
 '_builtin_table',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_combine_frame',
 '_combine_match_index',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_dict_from',
 '_construct_axes_from_arguments',
 '_construct_result',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_create_indexer',
 '_cython_table',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_type',
 '_ensure_valid_index',
 '_find_valid_index',
 '_from_arrays',
 '_from_axes',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_cleaned_column_resolvers',
 '_get_cython_func',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_get_values',
 '_getitem_bool_array',
 '_getitem_multilevel',
 '_gotitem',
 '_iget_item_cache',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_mgr',
 '_internal_get_values',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_copy',
 '_is_datelike_mixed_type',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_numeric_mixed_type',
 '_is_view',
 '_ix',
 '_ixs',
 '_join_compat',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_series',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_setup_axes',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_try_aggregate_string_function',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 '_xs',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'attrs',
 'axes',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'columns',
 'combine',
 'combine_first',
 'convert_dtypes',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'explode',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'floordiv',
 'from_dict',
 'from_records',
 'ge',
 'get',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isin',
 'isna',
 'isnull',
 'items',
 'iteritems',
 'iterrows',
 'itertuples',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_index',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_markdown',
 'to_numpy',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'values',
 'var',
 'where',
 'xs']

In [23]:
sorted(SalesRecords)

['Country',
 'Item Type',
 'Order Date',
 'Order ID',
 'Order Priority',
 'Region',
 'Sales Channel',
 'Ship Date',
 'Total Cost',
 'Total Profit',
 'Total Revenue',
 'Unit Cost',
 'Unit Price',
 'Units Sold']

In [24]:
list(SalesRecords)

['Region',
 'Country',
 'Item Type',
 'Sales Channel',
 'Order Priority',
 'Order Date',
 'Order ID',
 'Ship Date',
 'Units Sold',
 'Unit Price',
 'Unit Cost',
 'Total Revenue',
 'Total Cost',
 'Total Profit']

In [25]:
dict(SalesRecords)

{'Region': 0                       Sub-Saharan Africa
 1                                   Europe
 2                                   Europe
 3                                   Europe
 4                                   Europe
                        ...
 49995    Central America and the Caribbean
 49996    Central America and the Caribbean
 49997                                 Asia
 49998                   Sub-Saharan Africa
 49999                   Sub-Saharan Africa
 Name: Region, Length: 50000, dtype: object,
 'Country': 0                   Namibia
 1                   Iceland
 2                    Russia
 3                  Moldova
 4                     Malta
                 ...
 49995    Dominican Republic
 49996                  Cuba
 49997               Vietnam
 49998          Sierra Leone
 49999               Eritrea
 Name: Country, Length: 50000, dtype: object,
 'Item Type': 0              Household
 1              Baby Food
 2                   Meat
 3                   Meat
 4                 Cereal
               ...
 49995          Baby Food
 49996    Office Supplies
 49997      Personal Care
 49998            Clothes
 49999         Vegetables
 Name: Item Type, Length: 50000, dtype: object,
 'Sales Channel': 0        Offline
 1         Online
 2         Online
 3         Online
 4         Online
           ...
 49995    Offline
 49996     Online
 49997    Offline
 49998     Online
 49999    Offline
 Name: Sales Channel, Length: 50000, dtype: object,
 'Order Priority': 0        M
 1        H
 2        L
 3        L
 4        M
         ..
 49995    C
 49996    M
 49997    L
 49998    M
 49999    L
 Name: Order Priority, Length: 50000, dtype: object,
 'Order Date': 0         8/31/2015
 1        11/20/2010
 2         6/22/2017
 3         2/28/2012
 4         8/12/2010
             ...
 49995     2/12/2015
 49996     3/28/2013
 49997    11/11/2016
 49998     8/28/2010
 49999      6/5/2014
 Name: Order Date, Length: 50000, dtype: object,
 'Order ID': 0        897751939
 1        599480426
 2        538911855
 3        459845054
 4        626391351
            ...
 49995    350891578
 49996    748260629
 49997    322932231
 49998    492142713
 49999    943440902
 Name: Order ID, Length: 50000, dtype: int64,
 'Ship Date': 0        10/12/2015
 1          1/9/2011
 2         6/25/2017
 3         3/20/2012
 4         9/13/2010
             ...
 49995     3/15/2015
 49996      5/3/2013
 49997    12/18/2016
 49998     9/21/2010
 49999     6/30/2014
 Name: Ship Date, Length: 50000, dtype: object,
 'Units Sold': 0        3604
 1        8435
 2        4848
 3        7225
 4        1975
          ...
 49995    5470
 49996    5803
 49997    1678
 49998    4820
 49999    3983
 Name: Units Sold, Length: 50000, dtype: int64,
 'Unit Price': 0        668.27
 1        255.28
 2        421.89
 3        421.89
 4        205.70
           ...
 49995    255.28
 49996    651.21
 49997     81.73
 49998    109.28
 49999    154.06
 Name: Unit Price, Length: 50000, dtype: float64,
 'Unit Cost': 0        502.54
 1        159.42
 2        364.69
 3        364.69
 4        117.11
           ...
 49995    159.42
 49996    524.96
 49997     56.67
 49998     35.84
 49999     90.93
 Name: Unit Cost, Length: 50000, dtype: float64,
 'Total Revenue': 0        2408445.08
 1        2153286.80
 2        2045322.72
 3        3048155.25
 4         406257.50
             ...
 49995    1396381.60
 49996    3778971.63
 49997     137142.94
 49998     526729.60
 49999     613620.98
 Name: Total Revenue, Length: 50000, dtype: float64,
 'Total Cost': 0        1811154.16
 1        1344707.70
 2        1768017.12
 3        2634885.25
 4         231292.25
             ...
 49995     872027.40
 49996    3046342.88
 49997      95092.26
 49998     172748.80
 49999     362174.19
 Name: Total Cost, Length: 50000, dtype: float64,
 'Total Profit': 0        597290.92
 1        808579.10
 2        277305.60
 3        413270.00
 4        174965.25
            ...
 49995    524354.20
 49996    732628.75
 49997     42050.68
 49998    353980.80
 49999    251446.79
 Name: Total Profit, Length: 50000, dtype: float64}

In [26]:
max(SalesRecords)

'Units Sold'

In [27]:
min(SalesRecords)

'Country'

## More Series Attributes:

In [28]:
SalesRecords.index

RangeIndex(start=0, stop=50000, step=1)

In [29]:
SalesRecords.describe

<bound method NDFrame.describe of                                   Region             Country        Item Type  \
0                     Sub-Saharan Africa             Namibia        Household
1                                 Europe             Iceland        Baby Food
2                                 Europe              Russia             Meat
3                                 Europe            Moldova              Meat
4                                 Europe               Malta           Cereal
...                                  ...                 ...              ...
49995  Central America and the Caribbean  Dominican Republic        Baby Food
49996  Central America and the Caribbean                Cuba  Office Supplies
49997                               Asia             Vietnam    Personal Care
49998                 Sub-Saharan Africa        Sierra Leone          Clothes
49999                 Sub-Saharan Africa             Eritrea       Vegetables

      Sales Channel Order Priority  Order Date   Order ID   Ship Date  \
0           Offline              M   8/31/2015  897751939  10/12/2015
1            Online              H  11/20/2010  599480426    1/9/2011
2            Online              L   6/22/2017  538911855   6/25/2017
3            Online              L   2/28/2012  459845054   3/20/2012
4            Online              M   8/12/2010  626391351   9/13/2010
...             ...            ...         ...        ...         ...
49995       Offline              C   2/12/2015  350891578   3/15/2015
49996        Online              M   3/28/2013  748260629    5/3/2013
49997       Offline              L  11/11/2016  322932231  12/18/2016
49998        Online              M   8/28/2010  492142713   9/21/2010
49999       Offline              L    6/5/2014  943440902   6/30/2014

       Units Sold  Unit Price  Unit Cost  Total Revenue  Total Cost  \
0            3604      668.27     502.54     2408445.08  1811154.16
1            8435      255.28     159.42     2153286.80  1344707.70
2            4848      421.89     364.69     2045322.72  1768017.12
3            7225      421.89     364.69     3048155.25  2634885.25
4            1975      205.70     117.11      406257.50   231292.25
...           ...         ...        ...            ...         ...
49995        5470      255.28     159.42     1396381.60   872027.40
49996        5803      651.21     524.96     3778971.63  3046342.88
49997        1678       81.73      56.67      137142.94    95092.26
49998        4820      109.28      35.84      526729.60   172748.80
49999        3983      154.06      90.93      613620.98   362174.19

       Total Profit
0         597290.92
1         808579.10
2         277305.60
3         413270.00
4         174965.25
...             ...
49995     524354.20
49996     732628.75
49997      42050.68
49998     353980.80
49999     251446.79

[50000 rows x 14 columns]>

In [30]:
SalesRecords.values

array([['Sub-Saharan Africa', 'Namibia', 'Household', ..., 2408445.08,
        1811154.16, 597290.92],
       ['Europe', 'Iceland', 'Baby Food', ..., 2153286.8, 1344707.7,
        808579.1],
       ['Europe', 'Russia', 'Meat', ..., 2045322.72, 1768017.12,
        277305.6],
       ...,
       ['Asia', 'Vietnam', 'Personal Care', ..., 137142.94, 95092.26,
        42050.68],
       ['Sub-Saharan Africa', 'Sierra Leone', 'Clothes', ..., 526729.6,
        172748.8, 353980.8],
       ['Sub-Saharan Africa', 'Eritrea', 'Vegetables', ..., 613620.98,
        362174.19, 251446.79]], dtype=object)

In [31]:
SalesRecords

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Sub-Saharan Africa,Namibia,Household,Offline,M,8/31/2015,897751939,10/12/2015,3604,668.27,502.54,2408445.08,1811154.16,597290.92
1,Europe,Iceland,Baby Food,Online,H,11/20/2010,599480426,1/9/2011,8435,255.28,159.42,2153286.80,1344707.70,808579.10
2,Europe,Russia,Meat,Online,L,6/22/2017,538911855,6/25/2017,4848,421.89,364.69,2045322.72,1768017.12,277305.60
3,Europe,Moldova,Meat,Online,L,2/28/2012,459845054,3/20/2012,7225,421.89,364.69,3048155.25,2634885.25,413270.00
4,Europe,Malta,Cereal,Online,M,8/12/2010,626391351,9/13/2010,1975,205.70,117.11,406257.50,231292.25,174965.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,Central America and the Caribbean,Dominican Republic,Baby Food,Offline,C,2/12/2015,350891578,3/15/2015,5470,255.28,159.42,1396381.60,872027.40,524354.20
49996,Central America and the Caribbean,Cuba,Office Supplies,Online,M,3/28/2013,748260629,5/3/2013,5803,651.21,524.96,3778971.63,3046342.88,732628.75
49997,Asia,Vietnam,Personal Care,Offline,L,11/11/2016,322932231,12/18/2016,1678,81.73,56.67,137142.94,95092.26,42050.68
49998,Sub-Saharan Africa,Sierra Leone,Clothes,Online,M,8/28/2010,492142713,9/21/2010,4820,109.28,35.84,526729.60,172748.80,353980.80
49999,Sub-Saharan Africa,Eritrea,Vegetables,Offline,L,6/5/2014,943440902,6/30/2014,3983,154.06,90.93,613620.98,362174.19,251446.79

In [32]:
type(SalesRecords)

pandas.core.frame.DataFrame

In [33]:
SalesRecords.ndim

2

In [34]:
SalesRecords.shape

(50000, 14)

In [35]:
SalesRecords.size

700000

In [36]:
SalesRecords.

SyntaxError: invalid syntax (<ipython-input-36-59575bef1dd4>, line 1)

## The Sort Values Method:

In [ ]:
pd.read_csv("C:/Users/kkher/Desktop/SalesRecords.csv", usecols = ["Region"], squeeze = True)

In [39]:
series = pd.Series(SalesRecords['Region'], index=SalesRecords.index)

In [ ]:
series.sort_values(ascending=False)

In [ ]:
series.sort_values(ascending=True)

In [ ]:
series.sort_values(ascending=False).tail()

In [ ]:
series.sort_values(ascending=False).head(1)

In [ ]:
series.head(1)

## The Inplace Parameter:

In [37]:
pd.read_csv("C:/Users/kkher/Desktop/SalesRecords.csv", usecols = ["Region"], squeeze = True)

0                       Sub-Saharan Africa
1                                   Europe
2                                   Europe
3                                   Europe
4                                   Europe
                       ...
49995    Central America and the Caribbean
49996    Central America and the Caribbean
49997                                 Asia
49998                   Sub-Saharan Africa
49999                   Sub-Saharan Africa
Name: Region, Length: 50000, dtype: object

In [ ]:
series = series.sort_values()

In [ ]:
series = series.sort_values(ascending = False, inplace = True)

In [ ]:
series.sort_values().head()

In [ ]:
series.head

In [ ]:
series.head(3)

## The .sort_index() Method:

In [ ]:
series.sort_values(ascending = False, inplace = True)

In [ ]:
series.head(3)

In [ ]:
series.sort_index(ascending = False)

## Python's in Keyword:

In [ ]:
3 in [1, 2, 3, 4, 5]

In [ ]:
series.head(3)

In [ ]:
"Sub-Saharan Africa" in series

In [ ]:
100 in series
100 in series.index

In [ ]:
series.index

In [ ]:
series.values

In [ ]:
"Sub-Saharan Africa" in series.values

## Extract Series Values by Index Position:

In [53]:
series[1]

'Europe'

In [54]:
series[[100, 200, 300]]

100    Central America and the Caribbean
200                   Sub-Saharan Africa
300                   Sub-Saharan Africa
Name: Region, dtype: object

In [ ]:
series[50:100]

In [ ]:
series[:50]

In [55]:
series[:-30]

0        Sub-Saharan Africa
1                    Europe
2                    Europe
3                    Europe
4                    Europe
                ...
49965                  Asia
49966    Sub-Saharan Africa
49967    Sub-Saharan Africa
49968    Sub-Saharan Africa
49969                Europe
Name: Region, Length: 49970, dtype: object

In [56]:
series[-30:]

49970         Middle East and North Africa
49971                               Europe
49972    Central America and the Caribbean
49973                               Europe
49974                                 Asia
49975                                 Asia
49976                   Sub-Saharan Africa
49977                               Europe
49978    Central America and the Caribbean
49979                               Europe
49980                                 Asia
49981                Australia and Oceania
49982                               Europe
49983                                 Asia
49984                   Sub-Saharan Africa
49985         Middle East and North Africa
49986    Central America and the Caribbean
49987         Middle East and North Africa
49988                                 Asia
49989                   Sub-Saharan Africa
49990                   Sub-Saharan Africa
49991         Middle East and North Africa
49992                               Europe
49993                Australia and Oceania
49994                               Europe
49995    Central America and the Caribbean
49996    Central America and the Caribbean
49997                                 Asia
49998                   Sub-Saharan Africa
49999                   Sub-Saharan Africa
Name: Region, dtype: object

In [57]:
series[-30 : -10]

49970         Middle East and North Africa
49971                               Europe
49972    Central America and the Caribbean
49973                               Europe
49974                                 Asia
49975                                 Asia
49976                   Sub-Saharan Africa
49977                               Europe
49978    Central America and the Caribbean
49979                               Europe
49980                                 Asia
49981                Australia and Oceania
49982                               Europe
49983                                 Asia
49984                   Sub-Saharan Africa
49985         Middle East and North Africa
49986    Central America and the Caribbean
49987         Middle East and North Africa
49988                                 Asia
49989                   Sub-Saharan Africa
Name: Region, dtype: object

## Extract Values by Index Label:

In [59]:
df1 = pd.read_csv("C:/Users/kkher/Desktop/SalesRecords.csv"
pd.melt(df1)

SyntaxError: invalid syntax (<ipython-input-59-528798b0c711>, line 2)

In [ ]:
series["Europe"]

## The .get () Method on a Series:

In [73]:
pSeries = pd.read_csv("C:/Users/kkher/Desktop/SalesRecords.csv").set_index('Region',inplace=True)
nSer = pd.Series(pSeries)
type(nSer)
nSer.

C:\Users\kkher\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

pandas.core.series.Series

## Math Methods on Series Objects:

In [ ]:
series.head(3)

In [ ]:
series.count()

In [ ]:
len(series)

In [ ]:
series.sum()

In [ ]:
series.mean()

In [ ]:
series.sum() / series.count()

In [ ]:
series.std()

In [ ]:
series.min()

In [ ]:
series.max()

In [ ]:
series.median()

In [ ]:
series.mode()

In [ ]:
series.describe()

In [ ]:
series.unique()

## The .idxmax() and .idxmin() Methods:

In [ ]:
series.max()

In [ ]:
series.min()

In [ ]:
series.idxmax

In [ ]:
series[49995]

In [ ]:
series.idxmin

In [ ]:
series[series.idxmin]

## The .value_counts() Method:

In [ ]:
series.value_counts().sum()

In [ ]:
series.count()

In [ ]:
series.value_counts(ascending = True)

## The .apply() Method:

In [41]:
series.head(6)

0    Sub-Saharan Africa
1                Europe
2                Europe
3                Europe
4                Europe
5                  Asia
Name: Region, dtype: object

In [51]:
def classify_performance(number):
    if number < 300:
        return "OK"
    elif number >= 300 and number < 650:
        return "Satisfactory"
    else:
        return "Incredible!"

In [43]:
series.apply(classify_performance).tail()

TypeError: '<' not supported between instances of 'str' and 'int'

In [44]:
series.apply(lambda stock_price : stock_price + 1)

TypeError: can only concatenate str (not "int") to str

## The .map() Method:

In [48]:
series_names = pd.read_csv("C:/Users/kkher/Desktop/SalesRecords.csv", usecols = ["Region"], squeeze = True)
series_names.head(3)

0    Sub-Saharan Africa
1                Europe
2                Europe
Name: Region, dtype: object

In [50]:
series_types = pd.read_csv("C:/Users/kkher/Desktop/SalesRecords.csv", index_col = "Region", squeeze = True)
series_types.head(3)

,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
Region,,,,,,,,,,,,,
Sub-Saharan Africa,Namibia,Household,Offline,M,8/31/2015,897751939,10/12/2015,3604,668.27,502.54,2408445.08,1811154.16,597290.92
Europe,Iceland,Baby Food,Online,H,11/20/2010,599480426,1/9/2011,8435,255.28,159.42,2153286.80,1344707.70,808579.10
Europe,Russia,Meat,Online,L,6/22/2017,538911855,6/25/2017,4848,421.89,364.69,2045322.72,1768017.12,277305.60