## Intro to the Working with Dates and Times:

In [34]:
import pandas as pd
import datetime as dt

## Review of Python's datetime Module:

In [35]:
someday = dt.date(2016, 4, 12)

In [36]:
str(someday)

'2016-04-12'

In [37]:
someday.year

2016

In [38]:
someday.month

4

In [39]:
someday.day

12

In [40]:
str(dt.datetime(2010, 1, 10, 8, 13, 57))

'2010-01-10 08:13:57'

In [41]:
sometime = dt.datetime(2010, 1, 10, 17, 13, 57)

In [42]:
sometime.year
sometime.month
sometime.day
sometime.hour
sometime.minute
sometime.second

57

## The pandas Timestamp Object:

In [43]:
pd.Timestamp("2015-3-31")

Timestamp('2015-03-31 00:00:00')

In [44]:
pd.Timestamp("2015/3/31")

Timestamp('2015-03-31 00:00:00')

In [45]:
pd.Timestamp("2013,11,4")

Timestamp('2013-04-01 00:00:00')

In [46]:
pd.Timestamp("1/1/2015")

Timestamp('2015-01-01 00:00:00')

In [47]:
pd.Timestamp("19/12/2015")

Timestamp('2015-12-19 00:00:00')

In [48]:
pd.Timestamp("12/19/2015")

Timestamp('2015-12-19 00:00:00')

In [49]:
pd.Timestamp("4/3/2000")

Timestamp('2000-04-03 00:00:00')

In [50]:
pd.Timestamp("2021-3-8 08:35:15")

Timestamp('2021-03-08 08:35:15')

In [51]:
pd.Timestamp("2021-3-8 06:13:29 PM")

Timestamp('2021-03-08 18:13:29')

In [52]:
pd.Timestamp(dt.date(2015, 1, 1))

Timestamp('2015-01-01 00:00:00')

In [53]:
pd.Timestamp(dt.datetime(2015, 2, 3, 21, 35, 22))

Timestamp('2015-02-03 21:35:22')

## The pandas DateTimeIndex Object:

In [54]:
dates = ["2016/01/02", "2016/04/12", "2009/09/07"]
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-02', '2016-04-12', '2009-09-07'], dtype='datetime64[ns]', freq=None)

In [55]:
dates = [dt.date(2016, 1, 10), dt.date(1996, 6, 13), dt.date(2003, 12, 29)]
dtIndex = pd.DatetimeIndex(dates)

In [56]:
values = [100, 200, 300]
pd.Series(data = values, index = dtIndex)

2016-01-10    100
1996-06-13    200
2003-12-29    300
dtype: int64

## The pd.to_datetime() Method:

In [57]:
pd.to_datetime("2001-04-19")
pd.to_datetime(dt.date(2015, 1, 1))
pd.to_datetime(dt.datetime(2015, 1, 1, 14, 35, 20))
pd.to_datetime(["2015-01-03", "2014/02/08", "2016", "July 4th, 1996"])

DatetimeIndex(['2015-01-03', '2014-02-08', '2016-01-01', '1996-07-04'], dtype='datetime64[ns]', freq=None)

In [58]:
times = pd.Series(["2015-01-03", "2014/02/08", "2016", "July 4th, 1996"])
times

0        2015-01-03
1        2014/02/08
2              2016
3    July 4th, 1996
dtype: object

In [59]:
pd.to_datetime(times)

0   2015-01-03
1   2014-02-08
2   2016-01-01
3   1996-07-04
dtype: datetime64[ns]

In [60]:
dates = pd.Series(["July 4th, 1996", "10/04/1991", "Hello", "2015-02-31"])
dates

0    July 4th, 1996
1        10/04/1991
2             Hello
3        2015-02-31
dtype: object

In [61]:
pd.to_datetime(dates, errors = "coerce")

0   1996-07-04
1   1991-10-04
2          NaT
3          NaT
dtype: datetime64[ns]

In [62]:
pd.to_datetime([1349720105, 13497806505, 1349892905, 1349979305, 1350065705], unit = "s") ## error

OutOfBoundsDatetime: cannot convert input 13497806505 with the unit 's'

In [ ]:
import datetime

timeList=[1349720105, 13497806505, 1349892905, 1349979305, 1350065705]

for time in timeList:
    value = datetime.datetime.fromtimestamp(time)
    print(f"{value:%Y-%m-%d %H:%M:%S}")
#     exct_time = value.strftime('%d %B %Y %H:%M:%S')
#     print('exact_time {}'.format(value))

## Create Range of Dates with the pd.date_range() Method, Part 1:

In [ ]:
times = pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "D")

In [ ]:
type(times[0])

In [ ]:
pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "2D") ## 2D will proceed with the increment of 2 days

In [ ]:
pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "B") ## B is for business days, it will exclude weekends

In [ ]:
pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "W") ## W is for one day per week

In [ ]:
pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "W-FRI") ## W-FRI is for start week from Friday

In [ ]:
pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "H") ## H is for Hour, every single hour

In [ ]:
pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "6H") ## 6H is for increment of 6 hours

In [ ]:
pd.date_range(start = "2016-01-01", end = "2016-12-31", freq = "M") ## M is for month end. return the month ends falling beetween date range

In [ ]:
pd.date_range(start = "2016-01-01", end = "2016-12-31", freq = "MS") ## MS is for month start. first day of each month.

In [ ]:
pd.date_range(start = "2016-01-01", end = "2050-01-01", freq = "A") ## A is for year ends, last day of each year

## Create Range of Dates with the pd.date_range() Method, Part 2:

In [ ]:
pd.date_range(start = "2012-09-09", periods = 25, freq = "D") ## periods represent no. of result that we want to get. no. of timestamps that we want to generate starting from the given date.

In [ ]:
len(pd.date_range(start = "2012-09-09", periods = 25, freq = "D"))

In [ ]:
pd.date_range(start = "2012-09-09", periods = 50, freq = "W")

In [ ]:
pd.date_range(start = "2012-09-09", periods = 50, freq = "W-SUN")

In [ ]:
pd.date_range(start = "2012-09-09", periods = 50, freq = "MS")

In [ ]:
pd.date_range(start = "2012-09-09", periods = 50, freq = "A")

In [ ]:
pd.date_range(start = "2012-09-09", periods = 50, freq = "H")

## Create Range of Dates with the pd.date_range() Method, Part 3:

In [ ]:
pd.date_range(end = "1999-12-31", periods = 20, freq = "D")

In [ ]:
pd.date_range(end = "1999-12-31", periods = 20, freq = "B")

In [ ]:
pd.date_range(end = "1999-12-31", periods = 20, freq = "W-SUN")

In [ ]:
pd.date_range(end = "1999-12-31", periods = 20, freq = "M")

In [ ]:
pd.date_range(end = "1999-12-31", periods = 53, freq = "MS")

In [ ]:
pd.date_range(end = "1999-12-31", periods = 100, freq = "7H")

## The .dt Accessor:

In [102]:
bunch_of_dates = pd.date_range(start = "2000-01-01", end = "2010-12-31", freq = "24D")

In [103]:
s = pd.Series(bunch_of_dates)

In [ ]:
s.head()

In [ ]:
s.dt.day

In [104]:
s.dt.month

0       1
1       1
2       2
3       3
4       4
       ..
163     9
164    10
165    11
166    11
167    12
Length: 168, dtype: int64

In [105]:
s.dt.weekday

0      5
1      1
2      4
3      0
4      3
      ..
163    4
164    0
165    3
166    6
167    2
Length: 168, dtype: int64

In [106]:
s.dt.day_name()

0       Saturday
1        Tuesday
2         Friday
3         Monday
4       Thursday
         ...
163       Friday
164       Monday
165     Thursday
166       Sunday
167    Wednesday
Length: 168, dtype: object

In [ ]:
mask = s.dt.is_quarter_start
s[mask]

In [ ]:
mask = s.dt.is_month_start
s[mask]

## Install Financial Data Set with pandas_datareader Library:

In [ ]:
import pandas as pd
import datetime as dt

In [ ]:
pip install pandas-datareader

In [65]:
from pandas_datareader import data

C:\Users\kkher\Anaconda3\lib\site-packages\pandas_datareader\compat\__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [73]:
company = "MSFT"
start = "2010-01-01"
end = "2017-12-31"
stocks = data.DataReader(name = company, data_source = "yahoo", start = start, end = end)
stocks.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2009-12-31  30.990000  30.480000  30.980000  30.480000  31929700.0  23.925440
2010-01-04  31.100000  30.590000  30.620001  30.950001  38409100.0  24.294369
2010-01-05  31.100000  30.639999  30.850000  30.959999  49749600.0  24.302216
2010-01-06  31.080000  30.520000  30.879999  30.770000  58182400.0  24.153070
2010-01-07  30.700001  30.190001  30.629999  30.450001  50559700.0  23.901886

In [74]:
stocks.values

array([[3.09899998e+01, 3.04799995e+01, 3.09799995e+01, 3.04799995e+01,
        3.19297000e+07, 2.39254398e+01],
       [3.11000004e+01, 3.05900002e+01, 3.06200008e+01, 3.09500008e+01,
        3.84091000e+07, 2.42943687e+01],
       [3.11000004e+01, 3.06399994e+01, 3.08500004e+01, 3.09599991e+01,
        4.97496000e+07, 2.43022156e+01],
       ...,
       [8.59800034e+01, 8.52200012e+01, 8.56500015e+01, 8.57099991e+01,
        1.46780000e+07, 8.27977448e+01],
       [8.59300003e+01, 8.55500031e+01, 8.59000015e+01, 8.57200012e+01,
        1.05943000e+07, 8.28074112e+01],
       [8.60500031e+01, 8.55000000e+01, 8.56299973e+01, 8.55400009e+01,
        1.87174000e+07, 8.26335449e+01]])

In [75]:
stocks.columns

Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')

In [76]:
stocks.index

DatetimeIndex(['2009-12-31', '2010-01-04', '2010-01-05', '2010-01-06',
               '2010-01-07', '2010-01-08', '2010-01-11', '2010-01-12',
               '2010-01-13', '2010-01-14',
               ...
               '2017-12-15', '2017-12-18', '2017-12-19', '2017-12-20',
               '2017-12-21', '2017-12-22', '2017-12-26', '2017-12-27',
               '2017-12-28', '2017-12-29'],
              dtype='datetime64[ns]', name='Date', length=2014, freq=None)

In [77]:
stocks.axes

[DatetimeIndex(['2009-12-31', '2010-01-04', '2010-01-05', '2010-01-06',
                '2010-01-07', '2010-01-08', '2010-01-11', '2010-01-12',
                '2010-01-13', '2010-01-14',
                ...
                '2017-12-15', '2017-12-18', '2017-12-19', '2017-12-20',
                '2017-12-21', '2017-12-22', '2017-12-26', '2017-12-27',
                '2017-12-28', '2017-12-29'],
               dtype='datetime64[ns]', name='Date', length=2014, freq=None),
 Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')]

## Selecting from a DataFrame with a DateTimeIndex:

In [78]:
stocks = data.DataReader(name = company, data_source = "yahoo", start = start, end = end)
stocks.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2009-12-31  30.990000  30.480000  30.980000  30.480000  31929700.0  23.925440
2010-01-04  31.100000  30.590000  30.620001  30.950001  38409100.0  24.294369
2010-01-05  31.100000  30.639999  30.850000  30.959999  49749600.0  24.302216
2010-01-06  31.080000  30.520000  30.879999  30.770000  58182400.0  24.153070
2010-01-07  30.700001  30.190001  30.629999  30.450001  50559700.0  23.901886

In [79]:
stocks.loc["2014-03-04"]

High         3.848000e+01
Low          3.807000e+01
Open         3.820000e+01
Close        3.841000e+01
Volume       2.680240e+07
Adj Close    3.372342e+01
Name: 2014-03-04 00:00:00, dtype: float64

In [81]:
stocks.iloc[300]

High         2.585000e+01
Low          2.536000e+01
Open         2.541000e+01
Close        2.568000e+01
Volume       4.990580e+07
Adj Close    2.069910e+01
Name: 2011-03-11 00:00:00, dtype: float64

In [82]:
stocks.loc["2013-10-01" : "2013-10-07"]

                 High        Low       Open      Close      Volume  Adj Close
Date
2013-10-01  33.610001  33.299999  33.349998  33.580002  36718700.0  29.043051
2013-10-02  34.029999  33.290001  33.360001  33.919998  46946800.0  29.337111
2013-10-03  34.000000  33.419998  33.880001  33.860001  38703800.0  29.285215
2013-10-04  33.990002  33.619999  33.689999  33.880001  33008100.0  29.302513
2013-10-07  33.709999  33.200001  33.599998  33.299999  35069300.0  28.800877

In [139]:
birthdays = pd.date_range(start = "1991-04-12", end = "2017-12-31", freq = pd.DateOffset(years = 1))

In [140]:
mask = stocks.index.isin(birthdays)

In [93]:
stocks.loc[mask]

                 High        Low       Open      Close      Volume  Adj Close
Date
2010-04-12  30.490000  30.209999  30.250000  30.320000  37068800.0  23.911137
2011-04-12  25.850000  25.549999  25.830000  25.639999  36920400.0  20.666864
2012-04-12  31.040001  30.420000  30.480000  30.980000  38304000.0  25.651670
2013-04-12  29.020000  28.660000  28.850000  28.790001  62886300.0  24.553804
2016-04-12  54.779999  53.759998  54.369999  54.650002  24944300.0  50.621754
2017-04-12  65.510002  65.110001  65.419998  65.230003  17108500.0  62.011013

## Timestamp Object Attributes:

In [94]:
stocks = data.DataReader(name = company, data_source = "yahoo", start = start, end = end)
stocks.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2009-12-31  30.990000  30.480000  30.980000  30.480000  31929700.0  23.925440
2010-01-04  31.100000  30.590000  30.620001  30.950001  38409100.0  24.294369
2010-01-05  31.100000  30.639999  30.850000  30.959999  49749600.0  24.302216
2010-01-06  31.080000  30.520000  30.879999  30.770000  58182400.0  24.153070
2010-01-07  30.700001  30.190001  30.629999  30.450001  50559700.0  23.901886

In [97]:
someday = stocks.index[500]
someday

Timestamp('2011-12-23 00:00:00')

In [98]:
someday.day
someday.month
someday.year

2011

In [107]:
someday.day_name()

'Friday'

In [108]:
someday.is_month_end

False

In [141]:
stocks.insert(0, "Day of Week", stocks.index.weekday_name) ## Error

AttributeError: 'DatetimeIndex' object has no attribute 'weekday_name'

In [143]:
stocks.insert(1, "Is Start of Month", stocks.index.is_month_start) ## Error

ValueError: cannot insert Is Start of Month, already exists

In [115]:
stocks

,Day of Week,Is Start of Month,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
2009-12-31,<bound method PandasDelegate._add_delegate_acc...,False,30.990000,30.480000,30.980000,30.480000,31929700.0,23.925440
2010-01-04,<bound method PandasDelegate._add_delegate_acc...,False,31.100000,30.590000,30.620001,30.950001,38409100.0,24.294369
2010-01-05,<bound method PandasDelegate._add_delegate_acc...,False,31.100000,30.639999,30.850000,30.959999,49749600.0,24.302216
2010-01-06,<bound method PandasDelegate._add_delegate_acc...,False,31.080000,30.520000,30.879999,30.770000,58182400.0,24.153070
2010-01-07,<bound method PandasDelegate._add_delegate_acc...,False,30.700001,30.190001,30.629999,30.450001,50559700.0,23.901886
...,...,...,...,...,...,...,...,...
2017-12-22,<bound method PandasDelegate._add_delegate_acc...,False,85.629997,84.919998,85.400002,85.510002,14145800.0,82.604538
2017-12-26,<bound method PandasDelegate._add_delegate_acc...,False,85.529999,85.029999,85.309998,85.400002,9891200.0,82.498283
2017-12-27,<bound method PandasDelegate._add_delegate_acc...,False,85.980003,85.220001,85.650002,85.709999,14678000.0,82.797745
2017-12-28,<bound method PandasDelegate._add_delegate_acc...,False,85.930000,85.550003,85.900002,85.720001,10594300.0,82.807411
2017-12-29,<bound method PandasDelegate._add_delegate_acc...,False,86.050003,85.500000,85.629997,85.540001,18717400.0,82.633545

In [117]:
stocks[stocks["Is Start of Month"]]

,Day of Week,Is Start of Month,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
2010-02-01,<bound method PandasDelegate._add_delegate_acc...,True,28.480000,27.920000,28.389999,28.410000,85931100.0,22.300581
2010-03-01,<bound method PandasDelegate._add_delegate_acc...,True,29.049999,28.530001,28.770000,29.020000,43805400.0,22.885929
2010-04-01,<bound method PandasDelegate._add_delegate_acc...,True,29.540001,28.620001,29.350000,29.160000,74768100.0,22.996336
2010-06-01,<bound method PandasDelegate._add_delegate_acc...,True,26.309999,25.520000,25.530001,25.889999,76152400.0,20.509659
2010-07-01,<bound method PandasDelegate._add_delegate_acc...,True,23.320000,22.730000,23.090000,23.160000,92239400.0,18.346998
...,...,...,...,...,...,...,...,...
2017-06-01,<bound method PandasDelegate._add_delegate_acc...,True,70.610001,69.449997,70.239998,70.099998,21603600.0,67.022667
2017-08-01,<bound method PandasDelegate._add_delegate_acc...,True,73.419998,72.489998,73.099998,72.580002,22132300.0,69.393814
2017-09-01,<bound method PandasDelegate._add_delegate_acc...,True,74.739998,73.639999,74.709999,73.940002,21736200.0,71.070747
2017-11-01,<bound method PandasDelegate._add_delegate_acc...,True,83.760002,82.879997,83.680000,83.180000,22307400.0,79.952187
2017-12-01,<bound method PandasDelegate._add_delegate_acc...,True,84.809998,83.220001,83.599998,84.260002,29532100.0,81.397026

## The .truncate() Method:

In [121]:
stocks = data.DataReader(name = company, data_source = "yahoo", start = start, end = end)
stocks.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2009-12-31  30.990000  30.480000  30.980000  30.480000  31929700.0  23.925440
2010-01-04  31.100000  30.590000  30.620001  30.950001  38409100.0  24.294369
2010-01-05  31.100000  30.639999  30.850000  30.959999  49749600.0  24.302216
2010-01-06  31.080000  30.520000  30.879999  30.770000  58182400.0  24.153070
2010-01-07  30.700001  30.190001  30.629999  30.450001  50559700.0  23.901886

In [125]:
stocks.truncate("2011-02-05", after = "2013-02-28")

                 High        Low       Open      Close      Volume  Adj Close
Date
2011-02-07  28.340000  27.790001  27.799999  28.200001  68980900.0  22.596769
2011-02-08  28.340000  28.049999  28.100000  28.280001  34904200.0  22.660870
2011-02-09  28.260000  27.910000  28.190001  27.969999  52905100.0  22.412468
2011-02-10  27.940001  27.290001  27.930000  27.500000  76672400.0  22.035860
2011-02-11  27.809999  27.070000  27.760000  27.250000  83939700.0  21.835524
...               ...        ...        ...        ...         ...        ...
2013-02-22  27.760000  27.480000  27.680000  27.760000  31425900.0  23.675365
2013-02-25  28.049999  27.370001  27.969999  27.370001  48011800.0  23.342747
2013-02-26  27.600000  27.340000  27.379999  27.370001  49923300.0  23.342747
2013-02-27  28.000000  27.330000  27.420000  27.809999  36394700.0  23.718002
2013-02-28  27.969999  27.740000  27.879999  27.799999  35840200.0  23.709480

[518 rows x 6 columns]

## pd.DateOffset Objects:

In [138]:
stocks = data.DataReader(name = "GOOG", data_source = "yahoo",
               start = dt.date(2000, 1, 1), end = dt.datetime.now())
stocks.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2004-08-19  51.835709  47.800831  49.813286  49.982655  44871300.0  49.982655
2004-08-20  54.336334  50.062355  50.316402  53.952770  22942800.0  53.952770
2004-08-23  56.528118  54.321388  55.168217  54.495735  18342800.0  54.495735
2004-08-24  55.591629  51.591621  55.412300  52.239193  15319700.0  52.239193
2004-08-25  53.798351  51.746044  52.284027  52.802086   9232100.0  52.802086

In [149]:
stocks.index + pd.DateOffset(days = 5) ## a constructor method that creates an object

DatetimeIndex(['2004-08-29', '2004-08-30', '2004-09-02', '2004-09-03',
               '2004-09-04', '2004-09-05', '2004-09-06', '2004-09-09',
               '2004-09-10', '2004-09-11',
               ...
               '2020-04-11', '2020-04-12', '2020-04-13', '2020-04-16',
               '2020-04-17', '2020-04-18', '2020-04-19', '2020-04-23',
               '2020-04-24', '2020-04-25'],
              dtype='datetime64[ns]', name='Date', length=3941, freq=None)

In [152]:
stocks.index + pd.DateOffset(weeks = 2)

DatetimeIndex(['2004-09-07', '2004-09-08', '2004-09-11', '2004-09-12',
               '2004-09-13', '2004-09-14', '2004-09-15', '2004-09-18',
               '2004-09-19', '2004-09-20',
               ...
               '2020-04-20', '2020-04-21', '2020-04-22', '2020-04-25',
               '2020-04-26', '2020-04-27', '2020-04-28', '2020-05-02',
               '2020-05-03', '2020-05-04'],
              dtype='datetime64[ns]', name='Date', length=3941, freq=None)

In [153]:
stocks.index - pd.DateOffset(weeks = 2)

DatetimeIndex(['2004-08-10', '2004-08-11', '2004-08-14', '2004-08-15',
               '2004-08-16', '2004-08-17', '2004-08-18', '2004-08-21',
               '2004-08-22', '2004-08-23',
               ...
               '2020-03-23', '2020-03-24', '2020-03-25', '2020-03-28',
               '2020-03-29', '2020-03-30', '2020-03-31', '2020-04-04',
               '2020-04-05', '2020-04-06'],
              dtype='datetime64[ns]', name='Date', length=3941, freq=None)

In [154]:
stocks.index - pd.DateOffset(months = 3)

DatetimeIndex(['2004-05-24', '2004-05-25', '2004-05-28', '2004-05-29',
               '2004-05-30', '2004-05-31', '2004-06-01', '2004-06-04',
               '2004-06-05', '2004-06-06',
               ...
               '2020-01-06', '2020-01-07', '2020-01-08', '2020-01-11',
               '2020-01-12', '2020-01-13', '2020-01-14', '2020-01-18',
               '2020-01-19', '2020-01-20'],
              dtype='datetime64[ns]', name='Date', length=3941, freq=None)

In [155]:
stocks.index + pd.DateOffset(years = 1)

DatetimeIndex(['2005-08-24', '2005-08-25', '2005-08-28', '2005-08-29',
               '2005-08-30', '2005-08-31', '2005-09-01', '2005-09-04',
               '2005-09-05', '2005-09-06',
               ...
               '2021-04-06', '2021-04-07', '2021-04-08', '2021-04-11',
               '2021-04-12', '2021-04-13', '2021-04-14', '2021-04-18',
               '2021-04-19', '2021-04-20'],
              dtype='datetime64[ns]', name='Date', length=3941, freq=None)

In [156]:
stocks.index - pd.DateOffset(hours = 6)

DatetimeIndex(['2004-08-23 18:00:00', '2004-08-24 18:00:00',
               '2004-08-27 18:00:00', '2004-08-28 18:00:00',
               '2004-08-29 18:00:00', '2004-08-30 18:00:00',
               '2004-08-31 18:00:00', '2004-09-03 18:00:00',
               '2004-09-04 18:00:00', '2004-09-05 18:00:00',
               ...
               '2020-04-05 18:00:00', '2020-04-06 18:00:00',
               '2020-04-07 18:00:00', '2020-04-10 18:00:00',
               '2020-04-11 18:00:00', '2020-04-12 18:00:00',
               '2020-04-13 18:00:00', '2020-04-17 18:00:00',
               '2020-04-18 18:00:00', '2020-04-19 18:00:00'],
              dtype='datetime64[ns]', name='Date', length=3941, freq=None)

In [158]:
stocks.index - pd.DateOffset(years = 8, months = 5, days = 12, hours = 3, minutes = 42)

DatetimeIndex(['1996-03-11 20:18:00', '1996-03-12 20:18:00',
               '1996-03-15 20:18:00', '1996-03-16 20:18:00',
               '1996-03-17 20:18:00', '1996-03-18 20:18:00',
               '1996-03-19 20:18:00', '1996-03-22 20:18:00',
               '1996-03-23 20:18:00', '1996-03-24 20:18:00',
               ...
               '2011-10-24 20:18:00', '2011-10-25 20:18:00',
               '2011-10-26 20:18:00', '2011-10-29 20:18:00',
               '2011-10-30 20:18:00', '2011-10-31 20:18:00',
               '2011-11-01 20:18:00', '2011-11-05 20:18:00',
               '2011-11-06 20:18:00', '2011-11-07 20:18:00'],
              dtype='datetime64[ns]', name='Date', length=3941, freq=None)

## More fun with pd.DateOffset Objects:

In [168]:
import pandas as pd
import datetime as dt
from pandas_datareader import data
from pandas.tseries.offsets import *

In [161]:
stocks = data.DataReader(name = "GOOG", data_source = "yahoo",
               start = dt.date(2000, 1, 1), end = dt.datetime.now())
stocks.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2004-08-19  51.835709  47.800831  49.813286  49.982655  44871300.0  49.982655
2004-08-20  54.336334  50.062355  50.316402  53.952770  22942800.0  53.952770
2004-08-23  56.528118  54.321388  55.168217  54.495735  18342800.0  54.495735
2004-08-24  55.591629  51.591621  55.412300  52.239193  15319700.0  52.239193
2004-08-25  53.798351  51.746044  52.284027  52.802086   9232100.0  52.802086

In [164]:
stocks.index + pd.tseries.offsets.MonthEnd() ## it will look at the date and then find the next month

DatetimeIndex(['2004-08-31', '2004-08-31', '2004-08-31', '2004-08-31',
               '2004-08-31', '2004-08-31', '2004-08-31', '2004-08-31',
               '2004-09-30', '2004-09-30',
               ...
               '2020-04-30', '2020-04-30', '2020-04-30', '2020-04-30',
               '2020-04-30', '2020-04-30', '2020-04-30', '2020-04-30',
               '2020-04-30', '2020-04-30'],
              dtype='datetime64[ns]', name='Date', length=3941, freq=None)

In [169]:
stocks.index - MonthEnd()

DatetimeIndex(['2004-07-31', '2004-07-31', '2004-07-31', '2004-07-31',
               '2004-07-31', '2004-07-31', '2004-07-31', '2004-07-31',
               '2004-07-31', '2004-08-31',
               ...
               '2020-03-31', '2020-03-31', '2020-03-31', '2020-03-31',
               '2020-03-31', '2020-03-31', '2020-03-31', '2020-03-31',
               '2020-03-31', '2020-03-31'],
              dtype='datetime64[ns]', name='Date', length=3941, freq=None)

In [166]:
stocks.index + pd.tseries.offsets.MonthBegin()

DatetimeIndex(['2004-09-01', '2004-09-01', '2004-09-01', '2004-09-01',
               '2004-09-01', '2004-09-01', '2004-09-01', '2004-09-01',
               '2004-09-01', '2004-10-01',
               ...
               '2020-05-01', '2020-05-01', '2020-05-01', '2020-05-01',
               '2020-05-01', '2020-05-01', '2020-05-01', '2020-05-01',
               '2020-05-01', '2020-05-01'],
              dtype='datetime64[ns]', name='Date', length=3941, freq=None)

In [173]:
stocks.index - BMonthEnd()

DatetimeIndex(['2004-07-30', '2004-07-30', '2004-07-30', '2004-07-30',
               '2004-07-30', '2004-07-30', '2004-07-30', '2004-07-30',
               '2004-07-30', '2004-08-31',
               ...
               '2020-03-31', '2020-03-31', '2020-03-31', '2020-03-31',
               '2020-03-31', '2020-03-31', '2020-03-31', '2020-03-31',
               '2020-03-31', '2020-03-31'],
              dtype='datetime64[ns]', name='Date', length=3941, freq=None)

In [172]:
stocks.index - QuarterEnd()

DatetimeIndex(['2004-09-30', '2004-09-30', '2004-09-30', '2004-09-30',
               '2004-09-30', '2004-09-30', '2004-09-30', '2004-09-30',
               '2004-09-30', '2004-09-30',
               ...
               '2020-06-30', '2020-06-30', '2020-06-30', '2020-06-30',
               '2020-06-30', '2020-06-30', '2020-06-30', '2020-06-30',
               '2020-06-30', '2020-06-30'],
              dtype='datetime64[ns]', name='Date', length=3941, freq=None)

In [175]:
stocks.index + QuarterBegin()

DatetimeIndex(['2004-09-01', '2004-09-01', '2004-09-01', '2004-09-01',
               '2004-09-01', '2004-09-01', '2004-09-01', '2004-09-01',
               '2004-09-01', '2004-12-01',
               ...
               '2020-06-01', '2020-06-01', '2020-06-01', '2020-06-01',
               '2020-06-01', '2020-06-01', '2020-06-01', '2020-06-01',
               '2020-06-01', '2020-06-01'],
              dtype='datetime64[ns]', name='Date', length=3941, freq=None)

In [176]:
stocks.index + YearEnd()

DatetimeIndex(['2004-12-31', '2004-12-31', '2004-12-31', '2004-12-31',
               '2004-12-31', '2004-12-31', '2004-12-31', '2004-12-31',
               '2004-12-31', '2004-12-31',
               ...
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31'],
              dtype='datetime64[ns]', name='Date', length=3941, freq=None)

In [177]:
stocks.index + YearBegin()

DatetimeIndex(['2005-01-01', '2005-01-01', '2005-01-01', '2005-01-01',
               '2005-01-01', '2005-01-01', '2005-01-01', '2005-01-01',
               '2005-01-01', '2005-01-01',
               ...
               '2021-01-01', '2021-01-01', '2021-01-01', '2021-01-01',
               '2021-01-01', '2021-01-01', '2021-01-01', '2021-01-01',
               '2021-01-01', '2021-01-01'],
              dtype='datetime64[ns]', name='Date', length=3941, freq=None)

## The Timedelta Object:

In [184]:
timeA = pd.Timestamp("2016-03-31 04:35:16 PM")
timeB = pd.Timestamp("2016-03-20 02:16:49 AM")

In [188]:
timeB - timeA

Timedelta('-12 days +09:41:33')

In [186]:
type(timeA - timeB)

pandas._libs.tslibs.timedeltas.Timedelta

In [190]:
type(timeA)

pandas._libs.tslibs.timestamps.Timestamp

In [197]:
pd.Timedelta(weeks = 8, days = 3, hours = 12, minutes = 45)

Timedelta('59 days 12:45:00')

In [194]:
pd.Timedelta("5 minutes")

Timedelta('0 days 00:05:00')

In [196]:
pd.Timedelta("14 days 6 hours 12 minutes 49 seconds")

Timedelta('14 days 06:12:49')

## Timedeltas in a Dataset:

In [202]:
shipping = pd.read_csv("C:/Users/kkher/Desktop/Pandas/ecommerce.csv", index_col = "ID", parse_dates = ["order_date", "delivery_date"])
shipping.head()

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26
5  1992-07-21    1997-11-20
7  1993-09-02    1998-06-10

In [204]:
shipping["Delivery Time"] = shipping["delivery_date"] - shipping["order_date"]

In [205]:
shipping.head()

   order_date delivery_date Delivery Time
ID
1  1998-05-24    1999-02-05      257 days
2  1992-04-22    1998-03-06     2144 days
4  1991-02-10    1992-08-26      563 days
5  1992-07-21    1997-11-20     1948 days
7  1993-09-02    1998-06-10     1742 days

In [207]:
shipping["Twice As Long"] = shipping["delivery_date"] + shipping["Delivery Time"]

In [208]:
shipping.head()

   order_date delivery_date Delivery Time Twice As Long
ID
1  1998-05-24    1999-02-05      257 days    1999-10-20
2  1992-04-22    1998-03-06     2144 days    2004-01-18
4  1991-02-10    1992-08-26      563 days    1994-03-12
5  1992-07-21    1997-11-20     1948 days    2003-03-22
7  1993-09-02    1998-06-10     1742 days    2003-03-18

In [209]:
shipping.dtypes

order_date        datetime64[ns]
delivery_date     datetime64[ns]
Delivery Time    timedelta64[ns]
Twice As Long     datetime64[ns]
dtype: object

In [212]:
mask = shipping["Delivery Time"] > "365 days"
shipping[mask]

    order_date delivery_date Delivery Time Twice As Long
ID
2   1992-04-22    1998-03-06     2144 days    2004-01-18
4   1991-02-10    1992-08-26      563 days    1994-03-12
5   1992-07-21    1997-11-20     1948 days    2003-03-22
7   1993-09-02    1998-06-10     1742 days    2003-03-18
9   1990-01-25    1994-10-02     1711 days    1999-06-09
..         ...           ...           ...           ...
986 1990-12-10    1992-12-16      737 days    1994-12-23
990 1991-06-24    1996-02-02     1684 days    2000-09-12
991 1991-09-09    1998-03-30     2394 days    2004-10-18
993 1990-11-16    1998-04-27     2719 days    2005-10-06
997 1990-01-04    1991-10-03      637 days    1993-07-01

[394 rows x 4 columns]

In [213]:
mask = shipping["Delivery Time"] == "3423 days"
shipping[mask]

    order_date delivery_date Delivery Time Twice As Long
ID
130 1990-04-02    1999-08-16     3423 days    2008-12-29

In [214]:
shipping["Delivery Time"].max()

Timedelta('3583 days 00:00:00')

In [215]:
shipping["Delivery Time"].min()

Timedelta('8 days 00:00:00')